---
import Layout from "../../layouts/Layout.astro";

import goods from "../../data/goods.json";
export const getStaticPaths = async() => {
  return goods.map(({ url }) => {
    return {
      params: { product : url },
    }
  });
};
const { product } = Astro.params;
const goodsData = goods.find(({url}) => product === url);

---

<Layout>
<p>{goodsData.name}</p>
<p>{goodsData.price}</p>
<img src=`/images/${goodsData.itemphotos[0]}`>
</Layout>