---
import Layout from '../layouts/Layout.astro';
import Goodscard from '../components/goodsJsonCard.astro';
import { getCollection } from 'astro:content';
---

<Layout>
<main>
  <Goodscard  />
</main>
</Layout>