---

---

<header class="header">
  <h1><img class="logo" src="/04_ecsite/images/penlight_logo.png">
  </h1>
  <a href="/04_ecsite">HOME</a>
  <a href="/ecsite2024/src/pages/about.astro">ABOUT</a>
  <img class="cart_icon" src="/04_ecsite/images/shop.svg" alt="">
</header>