main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .goods {
    width: 30%;

    a {
      text-decoration: none;
      color: #333;
    }

    h2 {
      font-size: 18px;
      font-weight: regular;
    }

    img {
      max-width: 100%;
      width: 500px;
    }
  }
}
